:root {
    --background: #291f32;
    --text: #e4ddbb;
    --group-border: #e4ddbb;
    --project-background: #291f32;
    --project-text: #e4ddbb;
    --project-title: #e9cf81;
    --tag: #79694e;
    --link: #e9cf81;
    --border: #79694e;
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: Arial, Helvetica, sans-serif;
}

.links {
    text-align: center;
    font-size: 14px;
}

.link {
    color: var(--link);
}

.link img {
    width: 48px;
    padding: 8px;
}

a {
    color: var(--link);
}

.top-bar {
    display: flex;
    margin-right: 32px;
    margin-left: 32px;
    margin-top: 32px;
    padding-bottom: 16px;
    border-style: none none dotted none;
}

.title-stuff {
    display: flex;
    flex-flow: column;
    margin-right: 32px;
}

.title {
    font-size: 48px;
    margin-bottom: 16px;
}

.desc {
    font-size: 14px;
    margin-bottom: 16px;
}

.summary {
    font-size: 16px;
    margin-bottom: 16px;
}

.image-group {
    margin-top: 12px;;
    min-width: 320px;
    max-width: 320px;
}

img {
    width: 100%;
    border-radius: 8%;
}


/*
#project_stack_items {
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    flex-flow: row wrap;
    align-items: start;
}
*/

.stack_items {
    /*
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    align-items: start;
    */
    /*
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    align-items: start;
    */
    /*column-count: 3;*/
    column-width: 240px;
    column-gap: 64px;
    width: 95%;
}

.stack_title {
    font-size: 24px;
    padding-top: 16px;
    margin-left: 16px;
}

.project {
    color: var(--project-text);
    background-color: var(--project-background);
    border-color: var(--border);
    border-style: solid solid solid solid;
    border-width: 2px;
    border-radius: 16px;
    width: 100%; /* fit content */
    margin-top: 16px;
    padding: 8px;

    /*
    margin-left: 16px;
    margin-right: 16px;
    */
}

.project_title {
    font-size: 24px;
    margin-bottom: 0px;
}

.project_title a {
    color: var(--project-title);
}

.project_desc {
    margin-top: 8px;
    margin-bottom: 8px;
}

.tags {
    color: var(--tag);
}

.project_tag {
    color: var(--project-title);
}

.project {
    position: relative;
    display: inline-block;
}

.project_content {
    display: none;

}
